<nav class="fixed top-0 left-0 right-0 bg-white flex w-full justify-between px-6 sm:px-8 py-4 shadow-md z-10">
    <div class="space-x-3 flex items-center">
        <a href="/" class="text-2xl font-bold">only<span class="text-cyan-500">FUN!</span></a>
    </div>
    <div class="space-x-3 flex items-center">
        <% if (currentUser) { %>
            <a href="/message/new" class="bg-cyan-600 text-white font-semibold px-3 py-2 rounded-md hover:bg-cyan-500 active:bg-cyan-700 transition focus:outline-none focus:ring focus:ring-offset-2 focus:ring-cyan-600">
                <i class="fas fa-plus-circle"></i>
                New message
            </a>
            <a href="<%= currentUser.url %>">
                <img src="<%= currentUser.avatar %>" alt="User avatar" class="w-10 h-10 rounded-full"/>
            </a>
        <% } else { %>
            <a href="/login" class="font-semibold px-3 py-2 rounded-md hover:bg-cyan-100 transition">
                <i class="fas fa-sign-in-alt"></i>
                Log in
            </a>
            <a href="/signup" class="bg-cyan-600 text-white font-semibold px-3 py-2 rounded-md hover:bg-cyan-500 active:bg-cyan-700 transition focus:outline-none focus:ring focus:ring-offset-2 focus:ring-cyan-600">
                <i class="fas fa-user-plus"></i>
                Sign up
            </a>
        <% } %>
    </div>
</nav>