<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <main>
        <p>Enter the secret key to become a member</p>
        <% if (errors.length > 0) { %>
            <% errors.forEach(error => { %>
                <p><%= error.msg %></p>
            <% }) %>
        <% } %>
        <form action="" method="post">
            <div>
                <label for="secret">Secret key:</label>
                <input type="password" name="secret" id="secret">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </main>
</body>
</html>