body {
	background-color: #f8f8f8;
	color: #4a4a4a;
	font-family: sans-serif;
}

a {
	color: #5d83ff;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

img {
	width: 4rem;
}

.message-card {
	display: flex;
	padding: 1rem;
	margin-inline: auto;
	margin-top: 2rem;
	width: 80%;
	max-width: 45rem;
	justify-content: space-between;
	background: white;
	align-items: flex-end;
	border-radius: 12px;
	box-shadow: 0px 3px 4px #70707026;
}
